<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Email</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usr of tabusers">
          <th scope="row">{{usr.idUser}}</th>
          <td>{{usr.firstName}}</td>
          <td>{{usr.lastName}}</td>
          <td>{{usr.email}}</td>
          <td><input type="button" value="update" (click)="updateUser(usr.idUser)"></td>
          <td><input type="button" value="delete" (click)="deleteuser(usr.idUser)"></td>
        </tr>
      </tbody>
  </table>
