<form class="row g-3" [formGroup]="inputForm">
    <div class="col-md-6">
        <label for="firstname" class="form-label">FirstName</label>
        <input type="text" class="form-control" id="inputEmail4" formControlName="inputfname">
        <div class="alert alert-danger" role="alert" *ngIf="inputForm.controls['inputfname'].errors?.['required'] && !inputForm.pristine">
            FirstName is required !
          </div>
    </div>
      <div class="col-md-6">
        <label for="lastname" class="form-label">LastName</label>
        <input type="text" class="form-control" id="lastname" formControlName="inputlname">

        <div class="alert alert-danger" role="alert" *ngIf="inputForm.controls['inputlname'].errors?.['required'] && !inputForm.pristine">
          LastName is required !
        </div>
      </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" formControlName="inputemail">
      <div class="alert alert-danger" role="alert" *ngIf="inputForm.controls['inputemail'].errors?.['required'] && !inputForm.pristine" >
        email is required !!!
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="inputForm.controls['inputemail'].errors?.['email'] && !inputForm.pristine" >
        email s-yntax is wrong !!!
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="inputpassword">
      <div class="alert alert-danger" role="alert" *ngIf="inputForm.controls['inputpassword'].errors?.['required'] && !inputForm.pristine" >
        password is required !!!
      </div>
    </div>
    <div class="col-md-6">
        <label for="inputPassword2" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword2" formControlName="confpassword">
        <div class="alert alert-danger" role="alert" *ngIf="inputForm.controls['confpassword'].errors?.['required'] && !inputForm.pristine" >
          confirm password is required !!!
        </div>
      </div>
        <div class="col-md-6">
          <div> 
            <label for="inputPassword2" class="form-label">sexe: </label>
          </div>
       
          <div> 
            <ng-container *ngFor="let option of sexevalue; let i=index">
              <input type="radio" [value]="option" formControlName="sexe" (change)="onRadioChange(option)"> {{option}}
             
            </ng-container>
            <div>
              <p> i have selected : {{inputForm.controls['sexe'].value| json}}</p> 
             
            </div>
            
      </div>
        <!-- <div class="alert alert-danger" role="alert" *ngIf="inputForm.controls['confpassword'].errors?.['required'] && !inputForm.pristine" >
          confirm password is required !!!
        </div> -->
      </div>
      <div class="col-md-6">
        <div> 
          <label for="inputPassword2" class="form-label">Hobbies: </label>
        </div>
        <div formArrayName="selected">
            <ng-container *ngFor="let option of list; let i = index" [formGroupName]="i">
              <label>{{ option.label }}</label>
              <input type="checkbox" [formControlName]="option.label"/>
            </ng-container>
        </div>
        <b>I have selected:</b> {{ inputForm.controls['selected'].value | json }}
      </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label" >Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="inputAdresse">
      <div class="alert alert-danger" role="alert" *ngIf="inputForm.controls['inputAdresse'].errors?.['required'] && !inputForm.pristine" >
        Adressse is required !!!
      </div>
    </div>
    
    <div class="col-md-4">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="container">
      <h1>Angular Radio Button Example - Formation 9antra-The bridge</h1>
    
      <div formGroupName="myformRadio">
    
        <div class="form-group">
          <label for="sport">Select a Sport:</label>
          <div *ngFor="let sport of sportsList">
            <input id="sport-{{sport.id}}" type="radio" value="{{sport.value}}" name="{{sport.name}}"
              formControlName="{{sport.name}}" (change)="onRadioChange(sport)" >
            <label for="sport-{{sport.id}}">{{sport.label}}</label>
          </div>
    
          <!-- <div *ngIf="f.sport.touched && f.sport.invalid" class="alert alert-danger">
            <div *ngIf="f.sport.errors?.['required']">Name is required.</div>
          </div> -->
        </div>
    
        <button class="btn btn-primary" type="submit" [disabled]="!inputForm.controls['myformRadio'].valid" (click)="submit()">Submit</button>
    
        <h5>Selected Value: {{inputForm.value | json}}</h5>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="adduser()">Sign up</button>
    </div>
  </form>
